Flask==3.0.0
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.0
gunicorn==21.2.0
Werkzeug==3.0.1
psycopg2-binary==2.9.10
cryptography==41.0.7
PyJWT==2.11.0
flask-jwt-extended==4.7.1
flask-SocketIO == 5.6.1
gevent == 25.9.1
gTTS == 2.5.4
gevent-websocket == 0.10.1
APScheduler == 3.11.2